{% extends 'panels/v1/base-layout.html' %}
{% load poll_extras %}
{% load static %}
{% block Header_References %}
    <script defer src="{% static 'panels/v1/admin/assets/js/app.js'%}" nonce="{{ csp_nonce }}"></script>
    <link href="{% static 'panels/v1/admin/assets/css/app.css'%}" rel="stylesheet" nonce="{{ csp_nonce }}">
{% endblock %}
{% block Layout %}
    <main class="flex-shrink-0 pt-0 h-100">
        <div class="container-fluid">
            <div class="auth-wrapper">
                <div class="row">
                    {% block Form_Layout %}
                    {% endblock Form_Layout %}
                    {% block Img_Layout %}
                        <div class="col-12 col-md-6 col-xl-8 p-4 d-none d-md-block">
                            <div class="card adminuiux-card bg-theme-1-space position-relative overflow-hidden h-100">
                                <div class="position-absolute start-0 top-0 h-100 w-100 coverimg opacity-75 z-index-0">
                                    <img src="{% static 'panels/v1/admin/assets/img/backgorund-image/backgorund-image-8.jpg' %}"
                                            alt=""></div>
                                <div class="card-body position-relative z-index-1">
                                    <div class="row h-100 d-flex flex-column justify-content-center align-items-center gx-0 text-center">
                                        <div class="col-10 col-md-11 col-xl-8 mb-4 mx-auto">
                                            <div class="swiper swipernavpagination pb-5">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide"><img
                                                            src="{% static 'panels/v1/admin/assets/img/investment/slider.png' %}"
                                                            alt=""
                                                            class="mw-100 mb-3">
                                                        <h2 class="text-white mb-3">Create and Manage your Investment
                                                            appointments easily at your own very personalized
                                                            space.</h2>
                                                        <p class="lead opacity-75">You are at the best Adminuiux
                                                            Investment
                                                            UX<br>HTML template demo preview</p></div>
                                                    <div class="swiper-slide"><img
                                                            src="{% static 'panels/v1/admin/assets/img/investment/slider.png' %}"
                                                            alt=""
                                                            class="mw-100 mb-3">
                                                        <h2 class="text-white mb-3">Create and Manage your Investment
                                                            appointments easily at your own very personalized
                                                            space.</h2>
                                                        <p class="lead opacity-75">You are at the best Adminuiux
                                                            Investment
                                                            UX<br>HTML template demo preview</p></div>
                                                    <div class="swiper-slide"><img
                                                            src="{% static 'panels/v1/admin/assets/img/investment/slider.png' %}"
                                                            alt=""
                                                            class="mw-100 mb-3">
                                                        <h2 class="text-white mb-3">Create and Manage your Investment
                                                            appointments easily at your own very personalized
                                                            space.</h2>
                                                        <p class="lead opacity-75">You are at the best Adminuiux
                                                            Investment
                                                            UX<br>HTML template demo preview</p></div>
                                                </div>
                                                <div class="swiper-pagination white bottom-0"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endblock Img_Layout %}
                </div>
            </div>
        </div>
    </main>
{% endblock Layout %}
{% block Footer_References %}
    <script src="{% static 'panels/v1/admin/assets/js/investment/panels_investment-auth.js' %}" nonce="{{ csp_nonce }}"></script>
    <script src="{% static 'panels/v1/admin/assets/js/my_js/panels_auth.js' %}" nonce="{{ csp_nonce }}"></script>
{% endblock %}