{% extends 'panels/v1/admin/layout.html' %}
{% load poll_extras %}
{% load static %}
{% block Context %}
    <div class="adminuiux-wrap">
        <main class="adminuiux-content has-sidebar">
            <div class="container-fluid mt-4">
                <div class="row gx-3 align-items-center">
                    <div class="col-12 col-sm">
                        <h5>{{ dic_language.dashboard }}</h5></div>
                    <div class="col-auto"></div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
