{% extends 'panels/v1/admin/auth-layout.html' %}
{% load static %}
{% block CUSTOM_JS %}
    <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.6.2/dist/dotlottie-wc.js" type="module"></script>
{% endblock %}
{% block Form_Layout %}
    <div class="col-12 col-md-12 col-xl-6 minvheight-100 d-flex flex-column px-0">
        {% include 'panels/v1/admin/includes/components/header_auth.html' %}
        <div class="h-100 py-3 px-3">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-11 col-sm-8 col-md-11 col-xl-11 col-xxl-8 ">
                    <div class="text-center mb-4"><h1 class="mb-3">Let's get started</h1>
                        <p class="text-secondary">Provide your few details</p></div>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3">
                                    {{ form.first_name }}
                                    <label for="namef">First Name</label></div>
                            </div>
                            <div class="col">
                                <div class="form-floating mb-3">
                                    {{ form.last_name }}
                                    <label for="namel">Last Name</label></div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.email }}
                            <label for="emailadd">Email Address</label></div>
                        <div class="position-relative">
                            <div class="form-floating mb-3">
                                {{ form.password }}
                                <label for="checkstrength">Password</label></div>
                            <div class="btn btn-square btn-link text-theme-1 position-absolute end-0 top-0 mt-0_7rem me-2 d-flex align-items-center justify-content-center"
                                 onclick="toggle_show_password(this)">
                                <i class="bi bi-eye"></i></div>
                        </div>
                        <div class="feedback mb-3">
                            <div class="row">
                                <div class="col">
                                    <div class="check-strength" id="checksterngthdisplay">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div>
                                <div class="col-auto"><span class="small" id="textpassword"></span> <i
                                        class="bi bi-info-circle text-theme ms-1"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        title="Password should contain atleast 1 capital, 1 alphanumeric & min. 8 characters"></i>
                                </div>
                            </div>
                        </div>
                        <div class="position-relative">
                            <div class="form-floating mb-3">
                                {{ form.confirm_password }}
                                <label for="passwd">Confirm Password</label></div>
                            <div class="btn btn-square btn-link text-theme-1 position-absolute end-0 top-0 mt-0_7rem me-2 d-flex align-items-center justify-content-center"
                                 onclick="toggle_show_password(this)">
                                <i class="bi bi-eye"></i></div>
                        </div>
                        {% if form.errors %}
                            <div class="alert alert-danger d-flex pb-0">
                                <p class="bg-warning">{{ form.email.errors }}</p>
                                <p class="bg-warning">{{ form.password.errors }}</p>
                                <p class="bg-warning">{{ form.confirm_password.errors }}</p>
                            </div>
                        {% endif %}
                        <button type="submit" class="btn btn-lg btn-theme w-100 mb-4">Sign up</button>
                    </form>
                    <div class="text-center mb-3">Already have account?
                        <a href="{% url 'auth-v1:login' %}" class="">Login</a> here.
                    </div>
                </div>
            </div>
        </div>
        {% include 'panels/v1/admin/includes/components/footer_auth.html' %}
    </div>
{% endblock Form_Layout %}
{% block Img_Layout %}
    <div class="col-12 col-md-12 col-xl-6 p-4 d-none d-md-block">
        <div class="card adminuiux-card bg-theme-1-space position-relative overflow-hidden h-100">
            <div class="position-absolute start-0 top-0 h-100 w-100 coverimg opacity-75 z-index-0">
                <video autoplay muted loop width="100%">
                    <source src="{% static 'panels/login-vid.mp4' %}" type="video/mp4">
                </video>
            </div>
            <div class="card-body position-relative z-index-1">
                <div class="row h-100 d-flex flex-column justify-content-center align-items-center gx-0 text-center">
                    <div class="col-10 col-md-11 col-xl-8 mb-4 mx-auto mt-5">
                        <div class="swiper swipernavpagination pb-5 mt-5">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <dotlottie-wc
                                            src="{% static 'panels/LTaof2pRga.lottie' %}"
                                            class="w-100 h-30rem"
                                            speed="1"
                                            autoplay
                                            loop
                                    ></dotlottie-wc>
                                    <h2 class="text-white mb-3">Smart Investment Management in a Personalized Space</h2>
                                    <p class="lead opacity-75">Build Your Financial Future with Confidence</p></div>
                                <div class="swiper-slide">
                                    <dotlottie-wc src="{% static 'panels/LTaof2pRga.lottie' %}"
                                                  class="w-100 h-30rem" speed="1" autoplay loop
                                    ></dotlottie-wc>
                                    <h2 class="text-white mb-3">Smart Investment Management in a Personalized Space</h2>
                                    <p class="lead opacity-75">Build Your Financial Future with Confidence</p></div>
                                <div class="swiper-slide">
                                    <dotlottie-wc src="{% static 'panels/LTaof2pRga.lottie' %}"
                                                  class="w-100 h-30rem" speed="1" autoplay loop
                                    ></dotlottie-wc>
                                    <h2 class="text-white mb-3">Smart Investment Management in a Personalized Space</h2>
                                    <p class="lead opacity-75">Build Your Financial Future with Confidence</p></div>
                            </div>
                            <div class="swiper-pagination white bottom-0"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock Img_Layout %}