.pb-n-0_1rem {padding-bottom: -0.1rem !important;}
.pb-n-0_2rem {padding-bottom: -0.2rem !important;}
.pb-n-0_3rem {padding-bottom: -0.3rem !important;}
.pb-n-0_4rem {padding-bottom: -10.4rem !important;}
.pb-n-0_5rem {padding-bottom: -0.5rem !important;}
.ps-0_6rem{padding-left:.6rem !important}
.py-t38-b25rem{padding-top:.38rem !important;padding-bottom:.25rem !important}
.bottom-1{bottom:1rem!important}
.bottom-2{bottom:2rem!important}