{% extends 'panels/v2/list_page.html' %}
{% block CONTENT %}
    {% url 'admin-v2-category:add' as the_add_url %}
    {% url 'admin-v2-category:delete' as the_delete_url %}
    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
            <!-- Product List Widget -->
            <div class="card mb-6">
                <div class="card-widget-separator-wrapper">
                    <div class="card-body card-widget-separator">
                        <div class="row gy-4 gy-sm-1">
                            <div class="col-sm-6 col-lg-3">
                                <div class="d-flex justify-content-between align-items-start card-widget-1 border-end pb-4 pb-sm-0">
                                    <div>
                                        <p class="mb-1">In-store Sales</p>
                                        <h4 class="mb-1">$5,345.43</h4>
                                        <p class="mb-0"><span class="me-2">5k orders</span><span
                                                class="badge rounded-pill bg-label-success">+5.7%</span></p>
                                    </div>
                                    <div class="avatar me-sm-6">
                <span class="avatar-initial rounded-3 text-heading">
                  <i class="icon-base ri ri-home-6-line icon-28px"></i>
                </span>
                                    </div>
                                </div>
                                <hr class="d-none d-sm-block d-lg-none me-6"/>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="d-flex justify-content-between align-items-start card-widget-2 border-end pb-4 pb-sm-0">
                                    <div>
                                        <p class="mb-1">Website Sales</p>
                                        <h4 class="mb-1">$674,347.12</h4>
                                        <p class="mb-0"><span class="me-2">21k orders</span><span
                                                class="badge rounded-pill bg-label-success">+12.4%</span></p>
                                    </div>
                                    <div class="avatar me-lg-6">
                <span class="avatar-initial rounded-3 text-heading">
                  <i class="icon-base ri ri-computer-line icon-28px"></i>
                </span>
                                    </div>
                                </div>
                                <hr class="d-none d-sm-block d-lg-none"/>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="d-flex justify-content-between align-items-start border-end pb-4 pb-sm-0 card-widget-3">
                                    <div>
                                        <p class="mb-1">Discount</p>
                                        <h4 class="mb-1">$14,235.12</h4>
                                        <p class="mb-0">6k orders</p>
                                    </div>
                                    <div class="avatar me-sm-6">
                <span class="avatar-initial rounded-3 text-heading">
                  <i class="icon-base ri ri-gift-line icon-28px"></i>
                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="d-flex justify-content-between align-items-start">
                                    <div>
                                        <p class="mb-1">Affiliate</p>
                                        <h4 class="mb-1">$8,345.23</h4>
                                        <p class="mb-0"><span class="me-2">150 orders</span><span
                                                class="badge rounded-pill bg-label-danger">-3.5%</span></p>
                                    </div>
                                    <div class="avatar">
                <span class="avatar-initial rounded-3 text-heading">
                  <i class="icon-base ri ri-money-dollar-circle-line icon-28px"></i>
                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product List Table -->
            <div class="card">
                {% include 'panels/v2/components/header_and_add_button_datatable_in_list_page.html' with title="Category" url_add=the_add_url %}
                <div class="card-datatable table-responsive">
                    <div class="dt-container dt-bootstrap5 dt-empty-footer">
                        {% include 'panels/v2/components/filter_datatable_in_list_page.html' %}
                        <div class="justify-content-between dt-layout-table">
                            <div class="d-md-flex justify-content-between align-items-center dt-layout-full table-responsive">
                                <table class="datatables-products table dataTable dtr-column"
                                       id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                                    {#                                    <colgroup>#}
                                    {#                                        <col data-dt-column="0">#}
                                    {#                                        <col data-dt-column="1">#}
                                    {#                                        <col data-dt-column="2">#}
                                    {#                                        <col data-dt-column="3">#}
                                    {#                                        <col data-dt-column="4">#}
                                    {#                                        <col data-dt-column="5">#}
                                    {#                                        <col data-dt-column="6">#}
                                    {#                                        <col data-dt-column="7">#}
                                    {#                                        <col data-dt-column="8">#}
                                    {#                                        <col data-dt-column="9">#}
                                    {#                                    </colgroup>#}
                                    <thead>
                                    <tr>
                                        <th class="dt-orderable-asc dt-orderable-desc dt-ordering-asc"
                                            aria-sort="ascending"
                                            aria-label="product: Activate to invert sorting" tabindex="0">
                                            <span class="dt-column-title" role="button">Order</span>
                                            <span class="dt-column-order"></span>
                                        </th>
                                        <th class="dt-orderable-asc dt-orderable-desc dt-ordering-asc"
                                            aria-sort="ascending"
                                            colspan="3"
                                            aria-label="title: Activate to invert sorting" tabindex="0">
                                            <span class="dt-column-title" role="button">Title</span>
                                            <span class="dt-column-order"></span>
                                        </th>
                                        <th class="text-center dt-orderable-asc dt-orderable-desc dt-ordering-asc"
                                            aria-sort="ascending" tabindex="0">
                                            <span class="dt-column-title" role="button">Status</span>
                                            <span class="dt-column-order"></span>
                                        </th>
                                        <th class="text-center dt-orderable-asc dt-orderable-desc dt-ordering-asc"
                                            aria-sort="ascending" tabindex="0">
                                            <span class="dt-column-title" role="button">Deleted</span>
                                            <span class="dt-column-order"></span>
                                        </th>
                                        <th class="text-center dt-orderable-asc dt-orderable-desc dt-ordering-asc"
                                            aria-sort="ascending" tabindex="0">
                                            <span class="dt-column-title" role="button">DateTime Update</span>
                                            <span class="dt-column-order"></span>
                                        </th>
                                        <th class="text-center dt-orderable-none" aria-label="Actions">
                                            <span class="dt-column-title">Actions</span>
                                            <span class="dt-column-order"></span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for obj in object_list %}
                                        <tr>
                                            <td>{{ obj.sort_order }}</td>
                                            <td colspan="3">{{ obj.title }}</td>
                                            <td class="text-center">{{ obj.get_is_active_display }}</td>
                                            <td class="text-center">{{ obj.get_is_deleted_display }}</td>
                                            <td class="text-center">{{ obj.datetime_update|date:"Y/m/d" }}</td>
                                            <td>{% include 'panels/v2/components/option_record_in_list_page.html' with detail_url=obj.get_admin_detail_v2_url update_url=obj.get_admin_update_v2_url pk=obj.pk is_deleted=obj.is_deleted %}</td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="20" class="dt-empty">No Data</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot></tfoot>
                                </table>
                            </div>
                        </div>
                        {% include 'panels/v2/components/pagination_in_list_page.html' %}
                    </div>
                </div>
            </div>
        </div>
        {% include 'panels/v2/components/modal_delete.html' with target_url=the_delete_url %}
        <!-- / Content -->
        {% include 'panels/v2/components/footer.html' %}
    </div>
    <!-- Content wrapper -->
{% endblock %}