{% extends 'panels/v1/../../../templates/main/layout.html' %}
{% load poll_extras %}
{% load static %}
{% block Content %}
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
            href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <a href="#main-wrapper" id="backto-top" class="back-to-top">
        <i class="far fa-angle-double-up"></i>
    </a>

    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->

    <!--=====================================-->
    <!--=        Light Dark Switcher       	=-->
    <!--=====================================-->
    <div class="my_switcher d-none d-lg-block">
        <ul>
            <li title="Light Mode">
                <a href="javascript:void(0)" class="setColor light" data-theme="light">
                    <i class="fal fa-lightbulb-on"></i>
                </a>
            </li>
            <li title="Dark Mode">
                <a href="javascript:void(0)" class="setColor dark" data-theme="dark">
                    <i class="fas fa-moon"></i>
                </a>
            </li>
        </ul>
    </div>

    <div id="main-wrapper" class="main-wrapper mt--100">
        <!--=====================================-->
        <!--=        Banner Area Start         =-->
        <!--=====================================-->
        <section class="banner banner-style-2">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content" data-sal="slide-up" data-sal-duration="1000" data-sal-delay="100">
                            <h1 class="title">
                                {% if count is not None %}{{ count }}{% else %}one{% endif %} Record Added </h1>
                            <h2 class="color-gray-4">to {{ model }} Table</h2>
                            <a href="{% url 'index' %}" class="axil-btn btn-fill-white btn-large">Back To Index</a>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="list-unstyled shape-group-18">
                <li class="shape shape-1" data-sal="slide-left" data-sal-duration="1000" data-sal-delay="100"><img
                        src="{% static 'main/media/banner/banner-shape-1.png' %}" alt="Shape"></li>
                <li class="shape shape-2" data-sal="slide-right" data-sal-duration="1000" data-sal-delay="100"><img
                        src="{% static 'main/media/banner/banner-shape-2.png' %}" alt="Shape"></li>
                <li class="shape shape-3" data-sal="zoom-in" data-sal-duration="500" data-sal-delay="600"><img
                        src="{% static 'main/media/others/bubble-16.png' %}" alt="Shape"></li>
                <li class="shape shape-4" data-sal="zoom-in" data-sal-duration="500" data-sal-delay="600"><img
                        src="{% static 'main/media/others/bubble-15.png' %}" alt="Shape"></li>
                <li class="shape shape-5" data-sal="zoom-in" data-sal-duration="500" data-sal-delay="600"><img
                        src="{% static 'main/media/others/bubble-14.png' %}" alt="Shape"></li>
                <li class="shape shape-6" data-sal="zoom-in" data-sal-duration="500" data-sal-delay="600"><img
                        src="{% static 'main/media/others/bubble-16.png' %}" alt="Shape"></li>
                <li class="shape shape-7" data-sal="slide-down" data-sal-duration="500" data-sal-delay="600"><img
                        src="{% static 'main/media/others/bubble-26.png' %}" alt="Shape"></li>
            </ul>
        </section>
    </div>
{% endblock %}
