{% extends 'panels/v1/admin/layout.html' %}
{% load static %}
{% block CSS_CUSTOM %}
    {{ form.media }}
{% endblock %}
{% block Context %}
    {% url 'admin-v1-user-template' as the_user_template_url %}
    {% url 'admin-v1-admin-list' as the_admin_list_url %}
    {% url 'admin-v1-customer-list' as the_customer_list_url %}
    <div class="adminuiux-wrap">
        <main class="adminuiux-content has-sidebar">
            <div class="container-fluid mt-4">
                <div class="row gx-3 align-items-center">
                    <div class="col-12 col-sm">
                        <nav aria-label="breadcrumb" class="mb-2">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item bi"><a href="{{ the_user_template_url }}">Users</a></li>
                                <li class="breadcrumb-item bi">
                                    {% if request.path == the_customer_list_url %}
                                        <a href="{{ the_customer_list_url }}">Customer</a>
                                    {% else %}
                                        <a href="{{ the_admin_list_url }}">Admin</a>
                                    {% endif %}
                                </li>
                                <li class="breadcrumb-item active bi" aria-current="page">{{ object.code }}</li>
                            </ol>
                        </nav>
                        <div class="row align-items-center">
                            <h5 class="col my-auto">
                                {% include 'panels/v1/admin/includes/components/btn_link_with_icon.html' with is_back=True btn_color="btn-accent pt-2 pe-3" icon_name="arrow-left" text=dic_language.back style_text="d-none d-md-inline-block px-2" %}

                            </h5>
                            <h2 class="col text-end text-primary">{{ object.code }}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt-4">
                <div class="row">
                    <div class="col">
                        <div class="card adminuiux-card overflow-hidden mb-4 px-3">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="card-body pb-0">
                                    <h4 class="mt-3 mb-4">{% if object %}{{ dic_language.edit_ }}{% else %}
                                        {{ dic_language.add_ }}{% endif %} <span
                                            class="text-orange">User</span></h4>
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="form-floating mb-3">
                                                {{ form.first_name }}
                                                <label>First Name</label>
                                            </div>

                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="form-floating mb-3">
                                                {{ form.last_name }}
                                                <label>Last Name</label>
                                            </div>

                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="form-floating mb-3">
                                                {{ form.username }}
                                                <label>Username</label>
                                            </div>

                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="form-floating mb-3">
                                                {% include 'base/searchable_dropdown/select_char_choice.html' with item_name="gender" item_display="Gender" options=genders selected_display=object.get_gender_display selected_pk=object.gender %}
                                            </div>

                                        </div>
                                        <div class="col-12 col-md-12 col-lg-12">
                                            <div class="form-control mb-3">
                                                <label>{{ dic_language.description }}</label>
                                                {{ form.description }}
                                            </div>

                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="row">
                                                <div class="{% if object.avatar %}col-10{% else %}col-12{% endif %} d-flex">
                                                    <h5 class="my-auto col-2 me-3">Avatar</h5>
                                                    {{ form.avatar }}
                                                </div>
                                                {% if object.avatar %}
                                                    <div class="col-2 align-content-center">
                                                        <span class="me-1">Clear</span>{{ form.clear_avatar }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                            {% if object.avatar %}
                                                <figure class="avatar">
                                                    <img src="{{ object.get_avatar_tmb_url }}" alt="avatar">
                                                </figure>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% include 'panels/v1/admin/includes/components/footer_in_edit_page.html' with detail_url=object.get_admin_detail_v1_url %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}