{% extends '_1_site_setting/auth/base/base/layout.html' %}
{% load static %}
{% block Content %}

    <!-- ===============>> account start here <<================= -->
    <section class="account padding-top padding-bottom sec-bg-color2">
        <div class="container">
            <div class="account__wrapper" data-aos="fade-up" data-aos-duration="800">
                <div class="account__inner">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="account__thumb">
                                <img src="{% static 'main/assets/images/account/1.png' %}" alt="account-image"
                                     class="dark">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="account__content account__content--style2">

                                <!-- account tittle -->
                                <div class="account__header">
                                    <h2>Reset Password</h2>
                                    <p class="mb-0">Hey there! Ready to log in? Just enter your credentials and we'll
                                        get you to your
                                        account in no time. Let's go!</p>
                                </div>

                                <!-- account form -->
                                <form method="post">
                                {% csrf_token %}
                                    <div class="row g-4">
                                        <div class="col-12">
                                            <div class="form-pass">
                                                <label for="account-pass" class="form-label">Password</label>
                                                {{ form.password }}
                                                <button type="button" onclick="toggle_show_password(this)"
                                                        class="form-pass__toggle">
                                                    <i id="eyeIcon1" class="fa fa-eye"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-pass">
                                                <label for="account-pass" class="form-label">Confirm Password</label>
                                                {{ form.confirm_password }}
                                                <button type="button" onclick="toggle_show_password(this)"
                                                        class="form-pass__toggle">
                                                    <i id="eyeIcon" class="fa fa-eye"></i>
                                                </button>
                                            </div>
                                        </div>
                                        {% if form.errors %}
                                            <div class="col-12">
                                                <div class="alert alert-warning">
                                                    {{ form.password.errors }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>

                                    <button type="submit" class="trk-btn trk-btn--border trk-btn--primary d-block mt-4">
                                        Reset Pass
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ===============>> account end here <<================= -->

{% endblock %}