<select class="d-none" name="{{ item_name }}" {% if required %}required{% endif %} id="id_{{ item_name }}" multiple>
    {% for item in options %}
        <option class="searchable-option-selected {{ item_name }}" value="{{ item.pk }}"
                {% if item in selected %}selected{% endif %}>{{ item }}</option>
    {% endfor %}
</select>
<div>
    <p class="position-absolute z-1 ms-3 mt-2 text-secondary fs-14">{{ item_display }}</p>
    <div class="searchable-dropdown">
        <div class="searchable-dropdown-toggle" onclick="toggleDropdown('{{ item_name }}')">
            {% if selected %}
                <span class="searchable-selected-options {{ item_name }} pt-1 mb-_0_5rem fs-5 overflow-hidden">
                {% for item in selected %}
                    <span onclick="removeOption('{{ item }}', '{{ item_name }}')">{{ item }}</span>
                {% endfor %}
            </span>
            {% else %}
                <span class="searchable-selected-options {{ item_name }} pt-1 mb-_0_5rem fs-5 overflow-hidden">Select {{ item_display }}</span>
            {% endif %}
            <span>&#9662;</span>
        </div>
        <div class="searchable-dropdown-menu {{ item_name }}">
            <input type="text" class="searchable-search {{ item_name }}" onkeyup="filterOptions('{{ item_name }}')"
                   placeholder="Search...">
            <ul class="searchable-options-list {{ item_name }}">
                {% for item in options %}
                    <li class="{% if item.pk == selected.pk %}bg-primary-subtle{% endif %} pt-3"
                        onclick="selectManyOption('{{ item.pk }}','{{ item }}','{{ item_name }}')">{{ item }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>