{% extends '_panel_admin/../../../../templates/panels/v1/user/layout-user.html' %}
{% load static %}
{% block Content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">User List</h4>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="mb-4"></div>
                                    </div>
                                    <div class="col-sm-auto">
                                        <div class="d-flex align-items-center gap-1 mb-4">
                                            <div class="input-group datepicker-range">
                                                <input type="text" class="form-control flatpickr-input" data-input
                                                       aria-describedby="date1">
                                                <button class="input-group-text" id="date1" data-toggle><i
                                                        class="bx bx-calendar-event"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end row -->

                                <div class="table-responsive">
                                    <table class="table align-middle dt-responsive table-check"
                                           style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                                        <thead>
                                        <tr class="bg-transparent">
                                            <th style="width: 220px;">Full Name</th>
                                            <th>Date Joined</th>
                                            <th>Email</th>
                                            <th>Activation Code</th>
                                            <th>Point</th>
                                            <th>{{ dic_language.status }}</th>
                                            <th style="width: 150px;">{{ dic_language.action }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in users %}
                                            <tr>
                                                <td>{{ user.get_full_name }}</td>
                                                <td>{{ user.date_joined }}</td>
                                                <td>{{ user.email }}</td>
                                                <td>{{ user.active_code }}</td>
                                                <td>{{ user.point }}</td>
                                                <td>
                                                    {% if user.is_active %}
                                                        <div class="badge badge-soft-success font-size-12">{{ dic_language.active }}</div>
                                                    {% else %}
                                                        <div class="badge badge-soft-danger font-size-12">Not Active
                                                        </div>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <div>
                                                        <a href="{{ user.get_admin_detail_v1_url }}"
                                                           class="btn btn-soft-light btn-sm w-xs waves-effect btn-label waves-light">
                                                            <i class="bx bx-dots-horizontal-rounded label-icon"></i>
                                                            Detail
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot class="">
                                        <tr class="">
                                            <td colspan="3" class="text-white">
                                                Showing {{ page_obj.start_index }} to {{ page_obj.end_index }}
                                                of {{ paginator.count }} entries
                                            </td>
                                            <td colspan="4">
                                                {% if is_paginated %}
                                                    <nav aria-label="Page navigation example">
                                                        <ul class="pagination justify-content-end">
                                                            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                                                                <a class="page-link"
                                                                   {% if page_obj.has_previous %}href="?page=1"{% endif %}>
                                                                    First
                                                                </a>
                                                            </li>
                                                            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                                                                <a class="page-link"
                                                                   {% if page_obj.has_previous %}href="?page={{ page_obj.previous_page_number }}"{% endif %}>
                                                                    <<
                                                                </a>
                                                            </li>
                                                            {% for page in page_range %}
                                                                <li class="page-item {% if page == page_obj.number %}active{% endif %}">
                                                                    <a
                                                                            class="page-link"
                                                                            href="?page={{ page }}">{{ page }}</a>
                                                                </li>
                                                            {% endfor %}
                                                            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                                                                <a class="page-link"
                                                                   {% if page_obj.has_next %}href="?page={{ page_obj.next_page_number }}"{% endif %}>
                                                                    >>
                                                                </a>
                                                            </li>
                                                            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                                                                <a class="page-link"
                                                                   {% if page_obj.has_next %}href="?page={{ paginator.num_pages }}"{% endif %}>
                                                                    End
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </nav>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- end table responsive -->
                            </div>
                            <!-- end card body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    <!-- end main content-->

{% endblock %}