# ##### BASE VARIABLE ##### #
SECRET_KEY="ikfst-e_n$u=81_ouq2qh(qz9*_vkh+ed@7wj9nvrm&##f!q0x"
DJANGO_PORT="8000"
LANGUAGE_CODE="en-us"     ## for Farsi use  =>  "fa"
TIME_ZONE="Asia/Tehran"   ## default basic project  =>  "UTC"
USE_I18N="True"
USE_TZ="True"
USE_PANEL_ADMIN_DJANGO="False"
USE_PANEL_ADMIN_CUSTOM="False"
USE_PANEL_USER="True"
USE_FAKER_URL="True"
USE_SQLITE_DB="True"
USE_MYSQL_DB_BINARY="False"
USE_AUTH_PASSWORD_VALIDATORS="False"
SALT_PASSWORD="SALT"
USE_MULTI_LANGUAGE="True"

# ##### PAYMENT SERVICE ##### #
USE_PAYMENT_SERVICE="False"
ZARINPAL_MERCHANT_ID=""
ZARINPAL_SANDBOX="True"
ZARINPAL_CALLBACK_URL="https://test.ir/transaction"
ZARINPAL_CALLBACK_URL_SANDBOX="https://127.0.0.1:8000/transaction"
SITE_FEE_PAYMENT="19000"
ZARINPAL_IS_TOMAN="True"

# ##### ALLAUTH SERVICE LOGIN ##### #
USE_ALLAUTH_SERVICE="False"
GOOGLE_OAUTH_CLIENT_ID="108632103118-a78ivqjb4t2fjf0nsajbdgrcfvsc4u0a.apps.googleusercontent.com"
GOOGLE_OAUTH_SECRET="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"
GOOGLE_OAUTH_KEY=""
GOOGLE_OAUTH_SOCIALACCOUNT_LOGIN_ON_GET="True"
GOOGLE_OAUTH_LOGIN_REDIRECT_URL="dashboard"
GOOGLE_OAUTH_LOGOUT_REDIRECT_URL="/"
GOOGLE_OAUTH_ACCOUNT_SIGNUP_FIELDS="email*,username*,password1*,password2*"


# ##### SMS SERVICE ##### #
USE_SMS_SERVICE="False"
SMS_SERVICE_KEY="kuDjOIBbusBqu8kEPgyEDceT6d2qyXnAodOT4Y3aIMmzjaDVyrfM7Kk38OtOJ571"


USE_EMAIL_SERVICE="False"
# ### DEVELOP
# # CONSOLE
EMAIL_BACKEND='django.core.mail.backends.console.EmailBackend'
# # SMTP4DEV
EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST="smtp4dev"
EMAIL_PORT="25"
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""
EMAIL_USE_TLS="False"
EMAIL_USE_SSL="False"

# ##### EMAIL VARIABLE BASE FOR GOOGLE SERVICE ##### #
EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT="587"  # work
EMAIL_HOST_USER="mortezafarhadi.pro@gmail.com"
EMAIL_HOST_PASSWORD="devs tdll htnx vxkv"
EMAIL_USE_TLS="True"
EMAIL_USE_SSL="True"

# ##### EMAIL VARIABLE BASE FOR CPANEL SERVICE ##### #
EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST="mail.smicln-sup.ir"
EMAIL_PORT="465"
EMAIL_HOST_USER="test@smicln-sup.ir"
EMAIL_HOST_PASSWORD="X[=4TBVtd%B3"
EMAIL_USE_TLS="False"
EMAIL_USE_SSL="True"

# ##### EMAIL VARIABLE BASE FOR LIARA SERVICE ##### #
EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST="smtp.c1.liara.email"
EMAIL_PORT="465"
EMAIL_HOST_USER="jovial_mccarthy_6b2n66"
EMAIL_HOST_PASSWORD="cf590225-7a14-4590-8fe0-10681526fda3"
EMAIL_USE_TLS="False"
EMAIL_USE_SSL="True"
EMAIL_SEND_FROM="contact@mortexafarhadi.com"


--------------------------------------------------------------------------------
# ##### TEST VARIABLE  ##### #
DEBUG="True"
ALLOWED_HOSTS="*"
DEPLOYED="False"
SERVE_MEDIA_STATIC="True"
USE_ADMIN_ACCESS_MIDDLEWARE="False"

--------------------------------------------------------------------------------
# ##### DEPLOY VARIABLE  ##### #
DEBUG="False"
DEPLOYED="True"
ALLOWED_HOSTS="__DOMAIN_SERVER__.com,www.__DOMAIN_SERVER__.com"
CORS_ALLOWED_ORIGINS="https://__DOMAIN_SERVER__.com,https://www.__DOMAIN_SERVER__.com"
CSRF_TRUSTED_ORIGINS="https://__DOMAIN_SERVER__.com,https://www.__DOMAIN_SERVER__.com"
SERVE_MEDIA_STATIC="False"
USE_ADMIN_ACCESS_MIDDLEWARE="True"
DOMAIN_USE_SSL="True"


# ##### RECAPTCHA VARIABLE ##### #
USE_RECAPTCHA="False"
RECAPTCHA_PRIVATE_KEY=""
RECAPTCHA_PUBLIC_KEY=""

# ##### STATIC VARIABLE ##### #
USE_STATIC_ROOT="False"
STATIC_ROOT="/home/__USER_ROOT_PATH__/public_html/static/"

# ##### MEDIA VARIABLE ##### #
USE_MEDIA_ROOT="False"
MEDIA_ROOT="/home/__USER_ROOT_PATH__/public_html/zmedias/"

###### DATABASE VARIABLE ######
DATABASES_NAME="__DATABASES_NAME__"
DATABASES_USERNAME="__DATABASES_USERNAME__"
DATABASES_PASSWORD="__DATABASES_PASSWORD__"
DATABASES_HOST="__DATABASES_HOST__"

### MYSQL - MARIADB
DATABASES_ENGINE="django.db.backends.mysql"
DATABASES_PORT="3306"
### POSTGRESQL
DATABASES_ENGINE="django.db.backends.postgresql"
DATABASES_PORT="5432"


# CRYPTO PAYMENT
BLOCK_CYPHER_API_TOKEN="746126d690044c9da6a2939673017ec8"
BITCOIN_WALLET_PK=""
BITCOIN_WALLET_ADDRESS="bc1qynqpsxsvgcjadrzx2ven3hufy9l7yjmd2qkpnl"
DOGE_WALLET_PK="QRmN34YPbStLXzFqXYJ4PxjeWgbrVWf9eUKz79LbQemGp7tFGCTg"
DOGE_WALLET_ADDRESS="DJgtRehQ5LQMc4sikAh6FRPvnezSF6QDFx"
SOLANA_WALLET_PK="2Rz1bzjMMuYkVMYtbgD3d9fLTCDNXS1dm7rySJTFBe2MHrAtN34mgmWYS7Rt2Uj9LJtW8sUV2SEve78LZaiH6ect"
SOLANA_RPC_MAINNET="https://api.mainnet-beta.solana.com"
TRON_API_TRONGRID="b992157c-1829-4119-b720-49c7af133d82"
TRX_WALLET_PK="5df5dbe7ff6e6cfa565cbbf4bc69caf553282c667373286e1c987103149c1a06"

